@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body{
    background-color: #09090b;
    color: #f9f9f9;
}
.align_middle{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container{
    position: relative;
    width: 100%;
    display: flex;
    height: max-content;
    background-clip: padding-box;
    z-index: 10;
}

.image::after{
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background-color: #f9f9f9;   
    clip-path: polygon(0 0, 40% 0, 100% 100%, 0% 100%);
    z-index: -1;
}
